TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

DATABASE_URL=""

# Mercado Livre (https://developers.mercadolivre.com.br/pt_br/perfil-de-aplicacoes)
MERCADOLIVRE_CLIENT_ID=""
MERCADOLIVRE_CLIENT_SECRET=""
MERCADOLIVRE_REDIRECT_URI=""
MERCADOLIVRE_LISTING_TYPE="gold_special"